## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd

In [19]:
# 設定 data_path
dir_data = '../data/'
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
# Read the CSV file
columns_meaning = pd.read_csv(f_app,encoding="ISO-8859-1")
print("Data type: ",type(columns_meaning))
columns_meaning

Path of read in data: ../data/HomeCredit_columns_description.csv
Data type:  <class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
189,192,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
190,193,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN
191,194,previous_application.csv,DAYS_DECISION,Relative to current application when was the d...,time only relative to the application
192,195,previous_application.csv,NAME_PAYMENT_TYPE,Payment method that client chose to pay for th...,NaN
193,196,previous_application.csv,CODE_REJECT_REASON,Why was the previous application rejected,NaN
194,197,previous_application.csv,NAME_TYPE_SUITE,Who accompanied client when applying for the p...,NaN
195,198,previous_application.csv,NAME_CLIENT_TYPE,Was the client old or new client when applying...,NaN
196,199,previous_application.csv,NAME_GOODS_CATEGORY,What kind of goods did the client apply for in...,NaN
197,200,previous_application.csv,NAME_PORTFOLIO,"Was the previous application for CASH, POS, CA...",NaN
198,201,previous_application.csv,NAME_PRODUCT_TYPE,Was the previous application x-sell o walk-in,NaN
199,202,previous_application.csv,CHANNEL_TYPE,Through which channel we acquired the client o...,NaN
200,203,previous_application.csv,SELLERPLACE_AREA,Selling area of seller place of the previous a...,NaN
201,204,previous_application.csv,NAME_SELLER_INDUSTRY,The industry of the seller,NaN
202,205,previous_application.csv,CNT_PAYMENT,Term of previous credit at application of the ...,NaN
203,206,previous_application.csv,NAME_YIELD_GROUP,Grouped interest rate into small medium and hi...,grouped
204,207,previous_application.csv,PRODUCT_COMBINATION,Detailed product combination of the previous a...,NaN
205,208,previous_application.csv,DAYS_FIRST_DRAWING,Relative to application date of current applic...,time only relative to the application
206,209,previous_application.csv,DAYS_FIRST_DUE,Relative to application date of current applic...,time only relative to the application
207,210,previous_application.csv,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current applic...,time only relative to the application
208,211,previous_application.csv,DAYS_LAST_DUE,Relative to application date of current applic...,time only relative to the application
209,212,previous_application.csv,DAYS_TERMINATION,Relative to application date of current applic...,time only relative to the application
210,213,previous_application.csv,NFLAG_INSURED_ON_APPROVAL,Did the client requested insurance during the ...,NaN
211,214,installments_payments.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
212,215,installments_payments.csv,SK_ID_CURR,ID of loan in our sample,hashed
213,216,installments_payments.csv,NUM_INSTALMENT_VERSION,Version of installment calendar (0 is for cred...,NaN
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [76]:
file = os.path.join(dir_data, 'application_test.csv')
homeCredit_data = pd.read_csv(file)
print("Data shape : ",homeCredit_data.shape)

Data shape :  (48744, 121)

#### 列出欄位訊息

In [77]:

print("Data Columns: \n",homeCredit_data.columns)
print("Data Index : \n",homeCredit_data.index)
print("Data describe : \n",homeCredit_data.describe())
print("Data Info : \n", homeCredit_data.info)

Data Columns:
 Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)
Data Index :
 RangeIndex(start=0, stop=48744, step=1)
Data describe :
           SK_ID_CURR  CNT_CHILDREN  AMT_INCOME_TOTAL    AMT_CREDIT  \
count   48744.000000  48744.000000      4.874400e+04  4.874400e+04
mean   277796.676350      0.397054      1.784318e+05  5.167404e+05
std    103169.547296      0.709047      1.015226e+05  3.653970e+05
min    100001.000000      0.000000      2.694150e+04  4.500000e+04
25%    188557.750000      0.000000      1.125000e+05  2.606400e+05
50%    277549.000000      0.000000      1.575000e+05  4.500000e+05
75%    367555.500000      1.000000      2.250000e+05  6.750000e+05
max    456250.000000     20.000000      4.410000e+06  2.245500e+06

         AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  \
count   48720.000000     4.874400e+04                48744.000000
mean    29426.240209     4.626188e+05                    0.021226
std     16016.368315     3.367102e+05                    0.014428
min      2295.000000     4.500000e+04                    0.000253
25%     17973.000000     2.250000e+05                    0.010006
50%     26199.000000     3.960000e+05                    0.018850
75%     37390.500000     6.300000e+05                    0.028663
max    180576.000000     2.245500e+06                    0.072508

         DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  ...  FLAG_DOCUMENT_18  \
count  48744.000000   48744.000000       48744.000000  ...      48744.000000
mean  -16068.084605   67485.366322       -4967.652716  ...          0.001559
std     4325.900393  144348.507136        3552.612035  ...          0.039456
min   -25195.000000  -17463.000000      -23722.000000  ...          0.000000
25%   -19637.000000   -2910.000000       -7459.250000  ...          0.000000
50%   -15785.000000   -1293.000000       -4490.000000  ...          0.000000
75%   -12496.000000    -296.000000       -1901.000000  ...          0.000000
max    -7338.000000  365243.000000           0.000000  ...          1.000000

       FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
count           48744.0           48744.0           48744.0
mean                0.0               0.0               0.0
std                 0.0               0.0               0.0
min                 0.0               0.0               0.0
25%                 0.0               0.0               0.0
50%                 0.0               0.0               0.0
75%                 0.0               0.0               0.0
max                 0.0               0.0               0.0

       AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
count                42695.000000               42695.000000
mean                     0.002108                   0.001803
std                      0.046373                   0.046132
min                      0.000000                   0.000000
25%                      0.000000                   0.000000
50%                      0.000000                   0.000000
75%                      0.000000                   0.000000
max                      2.000000                   2.000000

       AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
count                42695.000000               42695.000000
mean                     0.002787                   0.009299
std                      0.054037                   0.110924
min                      0.000000                   0.000000
25%                      0.000000                   0.000000
50%                      0.000000                   0.000000
75%                      0.000000                   0.000000
max                      2.000000                   6.000000

       AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
count               42695.000000                42695.000000
mean                    0.546902                    1.983769
std                     0.693305                    1.838873
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    2.000000
75%                     1.000000                    3.000000
max                     7.000000                   17.000000

[8 rows x 105 columns]
Data Info :
 <bound method DataFrame.info of        SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0          100001         Cash loans           F            N               Y
1          100005         Cash loans           M            N               Y
2          100013         Cash loans           M            Y               Y
3          100028         Cash loans           F            N               Y
4          100038         Cash loans           M            Y               N
5          100042         Cash loans           F            Y               Y
6          100057         Cash loans           M            Y               Y
7          100065         Cash loans           M            N               Y
8          100066         Cash loans           F            N               Y
9          100067         Cash loans           F            Y               Y
10         100074         Cash loans           F            N               Y
11         100090         Cash loans           F            N               Y
12         100091         Cash loans           F            N               Y
13         100092         Cash loans           F            Y               Y
14         100106    Revolving loans           M            N               Y
15         100107         Cash loans           M            Y               Y
16         100109         Cash loans           F            Y               Y
17         100117         Cash loans           M            Y               Y
18         100128         Cash loans           F            Y               Y
19         100141         Cash loans           F            Y               Y
20         100150         Cash loans           F            N               Y
21         100168         Cash loans           F            N               Y
22         100169         Cash loans           F            N               Y
23         100170         Cash loans           M            N               Y
24         100171         Cash loans           M            Y               Y
25         100172         Cash loans           F            N               Y
26         100184         Cash loans           F            N               Y
27         100187         Cash loans           F            N               Y
28         100212         Cash loans           F            Y               N
29         100222         Cash loans           F            Y               Y
...           ...                ...         ...          ...             ...
48714      455963         Cash loans           F            N               N
48715      455965         Cash loans           M            Y               Y
48716      456007         Cash loans           M            N               Y
48717      456008         Cash loans           F            N               Y
48718      456009         Cash loans           F            N               Y
48719      456010         Cash loans           F            N               Y
48720      456011         Cash loans           F            Y               Y
48721      456013         Cash loans           F            N               Y
48722      456028         Cash loans           M            N               Y
48723      456058         Cash loans           F            N               N
48724      456111         Cash loans           F            N               Y
48725      456114         Cash loans           F            N               N
48726      456115         Cash loans           M            N               Y
48727      456116         Cash loans           F            N               N
48728      456119         Cash loans           F            N               Y
48729      456120         Cash loans           F            N               N
48730      456122         Cash loans           M            Y               N
48731      456123         Cash loans           F            Y               Y
48732      456166         Cash loans           F            N               Y
48733      456167         Cash loans           F            N               Y
48734      456168         Cash loans           F            N               Y
48735      456169         Cash loans           F            N               N
48736      456170         Cash loans           F            Y               Y
48737      456189         Cash loans           F            N               Y
48738      456202         Cash loans           F            Y               N
48739      456221         Cash loans           F            N               Y
48740      456222         Cash loans           F            N               N
48741      456223         Cash loans           F            Y               Y
48742      456224         Cash loans           M            N               N
48743      456250         Cash loans           F            Y               N

       CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                 0          135000.0    568800.0      20560.5
1                 0           99000.0    222768.0      17370.0
2                 0          202500.0    663264.0      69777.0
3                 2          315000.0   1575000.0      49018.5
4                 1          180000.0    625500.0      32067.0
5                 0          270000.0    959688.0      34600.5
6                 2          180000.0    499221.0      22117.5
7                 0          166500.0    180000.0      14220.0
8                 0          315000.0    364896.0      28957.5
9                 1          162000.0     45000.0       5337.0
10                0           67500.0    675000.0      25447.5
11                0          135000.0    261621.0      16848.0
12                0          247500.0    296280.0      23539.5
13                0           90000.0    360000.0      18535.5
14                0          180000.0    157500.0       7875.0
15                0          180000.0    296280.0      21690.0
16                0          202500.0    407520.0      26041.5
17                0           90000.0    499221.0      22117.5
18                1          225000.0    431280.0      23526.0
19                0          175500.0    478498.5      46741.5
20                0           99000.0    225000.0      19242.0
21                0          157500.0    266652.0      16443.0
22                0          135000.0    540000.0      27702.0
23                1          337500.0   1313212.5      42493.5
24                0          157500.0    539100.0      29245.5
25                0           76500.0    225000.0      12334.5
26                0          112500.0    256032.0      10759.5
27                0          225000.0    501363.0      25726.5
28                0           90000.0    450000.0      23107.5
29                0          360000.0    945000.0      34074.0
...             ...               ...         ...          ...
48714             1          360000.0    547272.0      43366.5
48715             0          315000.0    900000.0      57519.0
48716             0          135000.0    318645.0      16398.0
48717             0           81000.0    180000.0      13455.0
48718             0          225000.0    360000.0      19530.0
48719             1          112500.0    690313.5      35374.5
48720             1          171000.0    323460.0      23134.5
48721             1          130500.0    468333.0      37129.5
48722             0          220500.0    166500.0      13284.0
48723             1           67500.0    315000.0      16213.5
48724             1          112500.0    514710.0      17707.5
48725             0           45000.0    450000.0      24543.0
48726             1          225000.0   1002339.0      37917.0
48727             1          180000.0    149256.0      15291.0
48728             0          247500.0    685386.0      38398.5
48729             2           81000.0    135000.0      16020.0
48730             2          157500.0    445095.0      40824.0
48731             0          112500.0    450000.0      28890.0
48732             0          189000.0    479700.0      54382.5
48733             0          135000.0   1047771.0      37764.0
48734             0          135000.0    835686.0      46660.5
48735             0           85500.0    109008.0       7411.5
48736             0          157500.0    500490.0      48888.0
48737             0          270000.0    360000.0      28570.5
48738             3          135000.0    252022.5      23112.0
48739             0          121500.0    412560.0      17473.5
48740             2          157500.0    622413.0      31909.5
48741             1          202500.0    315000.0      33205.5
48742             0          225000.0    450000.0      25128.0
48743             0          135000.0    312768.0      24709.5

       AMT_GOODS_PRICE  ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             450000.0  ...                0                0
1             180000.0  ...                0                0
2             630000.0  ...                0                0
3            1575000.0  ...                0                0
4             625500.0  ...                0                0
5             810000.0  ...                0                0
6             373500.0  ...                0                0
7             180000.0  ...                0                0
8             315000.0  ...                0                0
9              45000.0  ...                0                0
10            675000.0  ...                0                0
11            216000.0  ...                0                0
12            225000.0  ...                0                0
13            360000.0  ...                0                0
14            157500.0  ...                0                0
15            225000.0  ...                0                0
16            360000.0  ...                0                0
17            373500.0  ...                0                0
18            360000.0  ...                0                0
19            454500.0  ...                0                0
20            225000.0  ...                0                0
21            202500.0  ...                0                0
22            540000.0  ...                0                0
23           1012500.0  ...                0                0
24            450000.0  ...                0                0
25            225000.0  ...                0                0
26            180000.0  ...                0                0
27            418500.0  ...                0                0
28            450000.0  ...                0                0
29            945000.0  ...                0                0
...                ...  ...              ...              ...
48714         495000.0  ...                0                0
48715         900000.0  ...                0                0
48716         216000.0  ...                0                0
48717         180000.0  ...                0                0
48718         360000.0  ...                0                0
48719         549000.0  ...                0                0
48720         270000.0  ...                0                0
48721         382500.0  ...                0                0
48722         166500.0  ...                0                0
48723         315000.0  ...                0                0
48724         387000.0  ...                0                0
48725         450000.0  ...                0                0
48726         846000.0  ...                0                0
48727         135000.0  ...                0                0
48728         585000.0  ...                0                0
48729         135000.0  ...                0                0
48730         405000.0  ...                0                0
48731         450000.0  ...                0                0
48732         450000.0  ...                0                0
48733         904500.0  ...                0                0
48734         765000.0  ...                0                0
48735          90000.0  ...                0                0
48736         450000.0  ...                0                0
48737         360000.0  ...                0                0
48738         217561.5  ...                0                0
48739         270000.0  ...                0                0
48740         495000.0  ...                0                0
48741         315000.0  ...                0                0
48742         450000.0  ...                0                0
48743         270000.0  ...                0                0

      FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                    0                0                        0.0
1                    0                0                        0.0
2                    0                0                        0.0
3                    0                0                        0.0
4                    0                0                        NaN
5                    0                0                        0.0
6                    0                0                        0.0
7                    0                0                        0.0
8                    0                0                        0.0
9                    0                0                        0.0
10                   0                0                        0.0
11                   0                0                        0.0
12                   0                0                        0.0
13                   0                0                        0.0
14                   0                0                        0.0
15                   0                0                        0.0
16                   0                0                        0.0
17                   0                0                        0.0
18                   0                0                        0.0
19                   0                0                        NaN
20                   0                0                        0.0
21                   0                0                        0.0
22                   0                0                        0.0
23                   0                0                        0.0
24                   0                0                        0.0
25                   0                0                        0.0
26                   0                0                        0.0
27                   0                0                        0.0
28                   0                0                        0.0
29                   0                0                        0.0
...                ...              ...                        ...
48714                0                0                        0.0
48715                0                0                        0.0
48716                0                0                        NaN
48717                0                0                        0.0
48718                0                0                        0.0
48719                0                0                        0.0
48720                0                0                        0.0

#### 截取部分資料

In [74]:
h = homeCredit_data.head(10)
t = homeCredit_data.tail(5)
#h_c = h[["SK_ID_CURR","AMT_INCOME_TOTAL","FLAG_EMAIL","NAME_SELLER_INDUSTRY","FLAG_OWN_CAR","CNT_CHILDREN"]]
h_c = h[["SK_ID_CURR","CNT_CHILDREN","AMT_INCOME_TOTAL","FLAG_OWN_CAR","FLAG_OWN_REALTY"]]
h_si = h_c.sort_index(axis = 0, ascending = False)
h_sv = h_c.sort_values("AMT_INCOME_TOTAL")
print(h_si)
print(h_sv)

   SK_ID_CURR  CNT_CHILDREN  AMT_INCOME_TOTAL FLAG_OWN_CAR FLAG_OWN_REALTY
9      100067             1          162000.0            Y               Y
8      100066             0          315000.0            N               Y
7      100065             0          166500.0            N               Y
6      100057             2          180000.0            Y               Y
5      100042             0          270000.0            Y               Y
4      100038             1          180000.0            Y               N
3      100028             2          315000.0            N               Y
2      100013             0          202500.0            Y               Y
1      100005             0           99000.0            N               Y
0      100001             0          135000.0            N               Y
   SK_ID_CURR  CNT_CHILDREN  AMT_INCOME_TOTAL FLAG_OWN_CAR FLAG_OWN_REALTY
1      100005             0           99000.0            N               Y
0      100001             0          135000.0            N               Y
9      100067             1          162000.0            Y               Y
7      100065             0          166500.0            N               Y
4      100038             1          180000.0            Y               N
6      100057             2          180000.0            Y               Y
2      100013             0          202500.0            Y               Y
5      100042             0          270000.0            Y               Y
3      100028             2          315000.0            N               Y
8      100066             0          315000.0            N               Y

#### 取出bureau credit hour ~year 欄位，並抓取指定行數，去除空值

In [71]:
bureau_year = homeCredit_data.loc[:,"AMT_REQ_CREDIT_BUREAU_HOUR":"AMT_REQ_CREDIT_BUREAU_YEAR"].iloc[5000:5020,:]
drop_null = bureau_year.dropna()
drop_null

,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
5000,0.0,0.0,0.0,0.0,0.0,5.0
5001,0.0,0.0,0.0,0.0,1.0,2.0
5002,0.0,0.0,0.0,0.0,1.0,1.0
5003,0.0,0.0,0.0,0.0,1.0,0.0
5004,0.0,0.0,0.0,0.0,0.0,0.0
5005,0.0,0.0,0.0,0.0,0.0,5.0
5007,0.0,0.0,0.0,0.0,0.0,3.0
5009,0.0,0.0,0.0,0.0,0.0,3.0
5010,0.0,0.0,0.0,0.0,0.0,3.0
5011,0.0,0.0,0.0,0.0,0.0,4.0
5012,0.0,0.0,0.0,0.0,1.0,2.0
5013,0.0,0.0,0.0,0.0,0.0,1.0
5014,0.0,0.0,0.0,0.0,0.0,6.0
5015,0.0,0.0,0.0,0.0,0.0,3.0
5016,0.0,0.0,0.0,0.0,1.0,3.0
5017,0.0,0.0,0.0,0.0,0.0,2.0
5018,0.0,0.0,0.0,0.0,2.0,3.0
5019,0.0,0.0,0.0,0.0,1.0,0.0

## NOTE: How to use Pandas 
main data types : Series (處理時間序列,主要為一維陣列), DataFrame（處理結構化資料,如關聯式資料庫csv等等）
#### Read CSV file and HTML
```
df = pd.read_csv("filename",encoding="ISO-8859-1/utf-8")
ds = pd.read_html("http://...//")
```
#### Create Series
the data structure can be array, dictionary, single data
```
select = pd.Series(data,index = idx)
arr = ["A","B","C","D"]
select = pd.Series(cars)
dict = {
    "aaa": "111",
    "bbb": "222",
    "ccc": "333"
} 
select = pd.Series(dict,index = dict.keys())
print(select[[0,2,3]])
```
#### Create and Operation on DataFrame
```
df = pd.DataFrame(arr,columns=["name","value"])
.shape      # 回傳列數與欄數 
.describe()   # 回傳描述性統計
.heads(n)     # 回傳前n筆觀測值
.tail(n)      # 回傳後n筆觀測值 
.columns      # 回傳欄位名稱  
.index        # 回傳 index 
.info       # 回傳資料內容  
```
資料選擇及新增
```
df["Name"]
df["Name"][0:4]
df[["Name","Team"]]
df.insert(3,column="sport",value="Basketball")
.loc(row_label,col_label) 
.iloc(row_index,col_index)
df.iloc[0:2,10:20] #take 0~2 rows 10~20 cols
```
資料排序
```
.sort_index(axis = 0, ascending = True)
.sort_values(by = 'num')
```
判斷是否為空值
```
.isnull()
.notnull()
print(select.ix[:, "name"].isnull())
.dropna()   # 有遺失值的觀測值都刪除  
.fillna(0)  # 有遺失值的觀測值填補0
```